<h1>Editing outbound</h1>

<% form_for(:outbound, @outbound, :url => sms_draft_outbound_path(@outbound.draft, @outbound), :html => {:method => :put}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= sms_on_rails_status_select(f) %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.label :processed_on %><br />
    <%= f.datetime_select :processed_on %>
  </p>
  <p>
    <%= f.label :sms_service_provider_id, 'Sms Service Provider' %><br />
    <%= service_providers_collection_select(f) %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :retry_count %><br />
    <%= f.text_field :retry_count %>
  </p>
  <p>
    <%= f.label :sub_status %><br />
    <%= f.text_field :sub_status %>
  </p>
  <p>
    <%= f.label :options %><br />
    <%= f.text_field :options %>
  </p>
  <p>
    <%= f.label :send_priority %><br />
    <%= f.text_field :send_priority %>
  </p>

  <p>
  <% f.fields_for :phone_number, @outbound.phone_number do |phone_form| %>
    <%= phone_form.label :name, 'Phone Number'%><br />
    <%= link_to_sms_phone_number(phone_form.object) %>
  <% end %>
  </p>

  <p>
  <% f.fields_for :draft, @outbound.draft do |draft_form| %>
    <%= draft_form.label :message, 'Draft' %><br />
    <%= link_to_sms_draft(draft_form.object) %>
  <% end %>
  </p>
  <% unless @outbound.delivered? %>
    <p>
      <%= f.label :send_immediately  %><br />
      <%= check_box_tag :outbound_send_immediately %>
    </p>
  <% end %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', sms_draft_outbound_path(@outbound.draft, @outbound) %> |
<%= link_to 'Back', sms_draft_outbounds_path(@outbound.draft) %>