<%  if @draft %>
  <h1> Draft </h1>
  <%= render :partial => 'admin/sms_on_rails/drafts/show.html.erb' %>
<% end %>

<h1>Listing outbounds</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Notes</th>
    <th>Procesed on</th>
    <th>Sms service provider</th>
    <th>Created at</th>
    <th>Retry count</th>
    <th>Sub status</th>
    <th>Options</th>
    <th>Send priority</th>
    <th>Draft</th>
    <th>Phone number</th>
  </tr>

<% @outbounds.each do |outbound| %>
  <tr>
    <td><%=h outbound.status %></td>
    <td><%=h outbound.notes %></td>
    <td><%=h outbound.processed_on %></td>
    <td><%=h outbound.sms_service_provider_name %></td>
    <td><%=h outbound.created_at %></td>
    <td><%=h outbound.retry_count %></td>
    <td><%=h outbound.sub_status %></td>
    <td><%=h outbound.options %></td>
    <td><%=h outbound.send_priority %></td>
    <td><%= link_to_sms_draft(outbound.draft)  %></td>
    <td><%= link_to_sms_phone_number(outbound.phone_number) %></td>
    <td><%= link_to 'Show', sms_outbound_path(outbound) %></td>
    <td><%= link_to 'Edit', edit_sms_outbound_path(outbound) %></td>
    <td><%= link_to 'Destroy', sms_outbound_path(outbound), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New outbound', new_sms_outbound_path %>