<h1>New outbound</h1>

<% form_for(:outbound, @outbound, :url => sms_outbounds_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :status %><br />
    <%= sms_on_rails_status_select(f) %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.label :processed_on %><br />
    <%= f.datetime_select :processed_on %>
  </p>
  <p>
    <%= f.label :sms_service_provider_id, 'Sms Service Provider' %><br />
    <%= service_providers_collection_select(f) %>
  </p>
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :retry_count %><br />
    <%= f.text_field :retry_count %>
  </p>
  <p>
    <%= f.label :sub_status %><br />
    <%= f.text_field :sub_status %>
  </p>
  <p>
    <%= f.label :options %><br />
    <%= f.text_field :options %>
  </p>
  <p>
    <%= f.label :send_priority %><br />
    <%= f.text_field :send_priority %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sms_outbounds_path %>