<p>
  <b>Id:</b>
  <%= h @draft.id %>
</p>
<p>
  <b>Message:</b>
  <%=h @draft.message %>
</p>

<p>
  <b>Header:</b>
  <%=h @draft.header %>
</p>

<p>
  <b>Footer:</b>
  <%=h @draft.footer %>
</p>

<p>
  <b>Status:</b>
  <%=h @draft.status %>
</p>

<p>
  <b>Deliver after:</b>
  <%=h @draft.deliver_after %>
</p>

<p>
  <b>Delivery date:</b>
  <%=h @draft.delivery_date %>
</p>

