<h1>Editing draft</h1>

<% form_for(:draft, @draft, :url => sms_draft_path, :html => {:method => :put}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :header %><br />
    <%= f.text_field :header %>
  </p>
  <p>
    <%= f.label :footer %><br />
    <%= f.text_field :footer %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= sms_on_rails_status_select f %>
  </p>
  <p>
    <%= f.label :deliver_after %><br />
    <%= f.datetime_select :deliver_after %>
  </p>
  <p>
    <%= f.label :delivery_date %><br />
    <%= f.datetime_select :delivery_date %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', sms_draft_path(@draft) %> |
<%= link_to 'Back', sms_drafts_path %>