<h1>SMS Drafts</h1>

<table class="stagger">
  <tr>
    <th class="short">Id</th>
    <th class="long">Message</th>
    <th>Header</th>
    <th>Footer</th>
    <th>Status</th>
    <th>Deliver after</th>
    <th>Delivery date</th>
  </tr>

  <% staggered_table_rows(@drafts) do |draft| %>
    <td class="short"><%=h draft.id      %></td>
    <td><%=h draft.message %></td>
    <td><%=h draft.header %></td>
    <td><%=h draft.footer %></td>
    <td><%=h draft.status %></td>
    <td><%=h draft.deliver_after %></td>
    <td><%=h draft.delivery_date %></td>
    <td class="links"><%= link_to 'Show',    sms_draft_outbounds_path(draft)%></td>
    <td class="links"><%= link_to 'Edit',    edit_sms_draft_path(draft) %></td>
    <td class="links"><%= link_to 'Destroy', sms_draft_path(draft), :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
</table>


<br />

<%= link_to 'New draft', new_sms_draft_path %> |
<%= link_to 'Send SMS', send_sms_new_sms_draft_path %>