<h1>New draft</h1>

<% form_for(:draft, @draft, :url => sms_drafts_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.label :header %><br />
    <%= f.text_field :header %>
  </p>
  <p>
    <%= f.label :footer %><br />
    <%= f.text_field :footer %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= sms_on_rails_status_select f %>
  </p>
  <p>
    <%= f.label :deliver_after %><br />
    <%= f.datetime_select :deliver_after, :include_blank => true %>
  </p>
  <p>
    <%= f.label :delivery_date %><br />
    <%= f.datetime_select :delivery_date %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back',sms_drafts_path %>