<h1>Editing phone carrier</h1>

<% form_for(:phone_carrier, @phone_carrier, :url => sms_phone_carrier_path(@phone_carrier), :html => {:method => :put}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email_domain %><br />
    <%= f.text_field :email_domain %>
  </p>
  <p>
    <%= f.label :options %><br />
    <%= f.text_field :options %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', sms_phone_carrier_path(@phone_carrier) %> |
<%= link_to 'Back', sms_phone_carriers_path %>