<h1>Editing Phone Number</h1>

<% form_for(:phone_number, @phone_number, :url => sms_phone_number_path, :html => {:method => :put}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number, :value => @phone_number.human_display %>
  </p>
  <p>
    <%= f.label :carrier_id, 'Phone Carrier' %><br />
    <%= phone_carriers_collection_select(f) %>
  </p>
  <p>
    <%= f.label :country_code %><br />
    <%= f.text_field :country_code %>
  </p>
  <p>
    <%= f.label :do_not_send %><br />
    <%= f.select :do_not_send, ['bounce', 'abuse', 'opt out', 'other'] %>
  </p>
  <p>
    <%= f.label :white_list %><br />
    <%= f.check_box :white_list %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', sms_phone_number_path(:id => @phone_number) %> |
<%= link_to 'Back', sms_phone_numbers_path %>