<% form_for(:draft, @draft, :url => send_sms_form_url) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :message %><br />
    <%= f.text_area :message, :rows => 4 %>
  </p>

  <% f.fields_for :outbounds do |outbound_form| %>
    <% outbound_form.fields_for :phone_number do |phone_form| %>
      <p>
        <%= phone_form.label :number, 'Phone Number' %>
        <%= phone_form.text_field :number, :value => (phone_form.object.human_display if phone_form.object) %>
      </p>
      <%= render :partial => '/sms_on_rails/phone_carrier_form_item', :locals => {:phone_form => phone_form } %>
    <% end %>
    
    <% unless outbound_form.object.new_record? %>
      <%= outbound_form.check_box '_delete' %>
      <%= outbound_form.label '_delete', 'Remove' %>
    <% end %>

  <% end %>

  <p>
    <%= f.label :deliver_after %><br />
    <%= f.datetime_select :deliver_after, :include_blank => true %>
  </p>
  
  <p>
    <%= f.submit 'Send Sms' %>
  </p>
<% end %>
